@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --a2_hs_red: #FD3D4E;
  --a3_hs_red: #EC6F79;
  --a2_hs_yellow: #FDCD01;
  --a3_hs_yellow: #FFE05E;
  --a2_hs_green: #0AD88E;
  --a3_hs_green: #47EBB0;
  --a2_hs_blue: #336AFF;
  --a3_hs_blue: #89A9FF;
  --a2_a3_text: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
